* {
    /* box-sizing: border-box; */
}

body {
    background-color: #04171F;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

.container{
    width: 80%;
    margin: 0 auto;
}